.about{
    padding-top: 50px;
    min-height: 100vh;
}
.about-container{
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
}
.about-title::before{
    content: "-----";
    padding: 5px;
    color: var(--primary);
}
.about-title{
    color: var(--color);
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 500;
}

.about-title::after{
    content: "-----";
    padding: 5px;
    color: var(--primary);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.potarit{
    width: 400px;
    height: 400px;
    border: 2px solid var(--secondary);
}

.text-content{
    color: var(--color);
    padding: 10px;
    margin:20px;
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 0.5px;
}

