.skill{
    flex-direction: column;
}
section{
    margin: 0;
    padding: 0 30px;
}
.home-links{
    display: flex;
}
.navlist{
    font-size: 11px;
}
.logo{
    font-size: 1.2rem;
}
.navlist a{
    margin: 0px 2vw;
    letter-spacing: 0px;
    font-weight: 100;
    display: block;
}

.watermark{
    display: none;
}
.social{
    display: none;
}

.hey{
    font-size: 20px;
}

.name{
    margin-top: 5px;
    font-size: 30px;
}
.title{
    font-size: 15px;
}

.about{
    padding-top: 20px;
}

.about-title::before{
    display: none;
}
.about-title{
    font-size: 20px;
    letter-spacing: 1px;
}

.about-title::after{
    display: none;
}

.content{
    flex-direction: column;
}

.potarit{
    width: 200px;
    height: 200px;
}
.text-content{
    font-size: 15px;
}
.skill-title{
    font-size: 20px;
    letter-spacing: 1px;
}

.skill-subtitle{
    font-size: 15px;
    padding: 5px;
}

.skill-set{
    width: 300px;
    height: fit-content;
}

.certficates{
    flex-direction: column;
}
.certificate img{
    padding: 5px;
    height:200px;
    width: 180px;
    margin: 5px;
}


.project-title::before{
    display: none;
}
.project-title::after{
    display: none;
}
.footer-text{
    font-size: 15px;
}

footer a{
    font-size: 10px;
}
